# Szerver beállítások
PORT=3000

# Adatbázis kapcsolat
DB_HOST=db
DB_PORT=3306
DB_FELHASZNALO=esemenyuser
DB_JELSZO=esemenyjelszó
DB_NEV=esemeny_kezelo

# JWT beállítás - éles környezetben mindig változtasd meg!
JWT_TITOK=valtozd_meg_eles_kornyezetben
